@font-face {
  font-family: PressStart;
  src: url(/static/fonts/PressStart2P.ttf);
}

:root {
  --mainFont: PressStart;
  --pokedexColor: #c53836;
  --pokedexBorder: #e6dbbd;
  --paginationColor: #98b17a;
  --paginationBorderColor: #eaddc5;
  --btnRed: #8c3d39;
  --btnBlue: #6398b6;
  --btnHighLight: #cde2da;
}

.normal {
  background-color: #8f99a1;
}

.fighting {
  background-color: #ce3f6b;
}

.flying {
  background-color: #92aadd;
}

.poison {
  background-color: #ab6ac9;
}

.ground {
  background-color: #da7747;
}

.rock {
  background-color: #c9b68c;
}

.bug {
  background-color: #91bf2c;
}

.ghost {
  background-color: #5269ac;
}

.steel {
  background-color: #598fa1;
}

.fire {
  background-color: #fe9c52;
}

.water {
  background-color: #4d8fd6;
}

.grass {
  background-color: #91bf2c;
}

.electric {
  background-color: #f4d13b;
}

.psychic {
  background-color: #f97077;
}

.ice {
  background-color: #73cebf;
}

.dragon {
  background-color: #096cc3;
}

.dark {
  background-color: #5b5365;
}

.fairy {
  background-color: #ec90e8;
}
*,
::after,
::before {
  box-sizing: border-box;
}

::-webkit-input-placeholder {
  font-family: var(--mainFont);
}

button {
  font-family: var(--mainFont);
}

select {
  font-family: var(--mainFont);
}

body {
  background-image: url(/static/background.jpg);
}

p,
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--mainFont);
  text-transform: capitalize;
}

.header-page {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 10px;
}

.header-page img {
  width: 550px;
  height: 150px;
}

.poke-container {
  display: flex;
}

.searchbar-container {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--pokedexColor);
  gap: 10px;
}

.nes-container.is-rounded {
  margin-left: 10px;
}

.search-name,
.search-type,
.search-region {
  background-color: var(--pokedexBorder);
}

.search-name input {
  margin-bottom: 10px;
}

.pokemon-card {
  display: flex;
  align-items: center;
  border: solid 1px black;
  border-radius: 20px;
}

.pokemon-type {
  display: flex;
  gap: 5px;
  text-transform: capitalize;
}

.pokemon-card-img {
  background-color: #6398b6;
  border-radius: 20px;
  border: solid 1px black;
}

.pokemon-details {
  margin-left: 10px;
}

.pokemon-type-name {
  border: solid 1px black;
  padding: 5px;
  border-radius: 10px;
  font-family: var(--mainFont);
  font-size: small;
  color: white;
}

.title-name,
.title-type,
.title-region {
  margin-bottom: 10px;
}

.pokedex-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex: 1;
  margin-left: 40px;
  grid-gap: 10px;
}

.right-arrow,
.left-arrow {
  width: 64px;
  height: 64px;
}

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  font-size: 30px;
  background-color: var(--paginationColor);
}

.left-arrow {
  transform: scaleX(-1);
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-blue {
  background-color: var(--btnBlue);
  height: 2px;
}

.btn-red {
  background-color: var(--btnRed);
  height: 2px;
}
