@font-face {
  font-family: MadouFuto;
  src: url(/static/fonts/MadouFutoMaruGothic.ttf);
}

:root {
  --mainFont: MadouFuto;
  --pokedexColor: #c53836;
  --pokedexBorder: #e6dbbd;
  --paginationColor: #98b17a;
  --paginationBorderColor: #eaddc5;
  --btnRed: #8c3d39;
  --btnBlue: #6398b6;
  --btnHighLight: #cde2da;
}

*,
::after,
::before {
  box-sizing: border-box;
}

::-webkit-input-placeholder {
  font-family: var(--mainFont);
}

button {
  font-family: var(--mainFont);
}

select {
  font-family: var(--mainFont);
}

body {
  background-image: url(/static/background.jpg);
}

p,
h3 {
  font-family: var(--mainFont);
  text-transform: capitalize;
}

.header-page {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 10px;
}

.header-page img {
  width: 600px;
  height: 200px;
}

.main-container {
  display: flex;
}

.searchbar-container {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--pokedexColor);
  gap: 10px;
}

.nes-container.is-rounded {
  margin-left: 10px;
}

.search-name,
.search-type,
.search-region {
  background-color: var(--pokedexBorder);
}

.search-name input {
  margin-bottom: 10px;
}

.pokemon-card {
  display: flex;
}

.title-name,
.title-type,
.title-region {
  margin-bottom: 10px;
}

.pokedex-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex: 1;
  margin-left: 40px;
}

.right-arrow,
.left-arrow {
  width: 64px;
  height: 64px;
}

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  font-size: 30px;
  background-color: var(--paginationColor);
}

.left-arrow {
  transform: scaleX(-1);
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-blue {
  background-color: var(--btnBlue);
  height: 2px;
}

.btn-red {
  background-color: var(--btnRed);
  height: 2px;
}
